@{
    ViewData["Title"] = "Home Page";
}

@{
    string PäiväKello = DateTime.Now.ToString();
    string Kello = PäiväKello.Substring(PäiväKello.Length - 8);




}
<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">


<div style="color: white" ; class="text-center">
    <h1 class="display-4">Pitter Patter</h1>
    <p>The time is @Kello </p>
    <audio controls>
        <source src="~/audioFiles/birdsAndCrickets.wav" />
    </audio>
</div>
<div class="slidercontainer">
    <input type="range" min="0" max="100" value="0" class="slider" id="volyymi" />
</div>

