@{
    ViewData["Title"] = "Home Page";
}

@{
    string PäiväKello = DateTime.Now.ToString();
    string Kello = PäiväKello.Substring(PäiväKello.Length - 8);




}
<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">

<script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>




<div style="color: white" ; class="text-center">
    <h1 class="display-4">Pitter Patter</h1>
    <p>The time is @Kello </p>
    <audio controls>
        <source src="~/audioFiles/birdsAndCrickets.wav" />
    </audio>
</div>
<div class="slidercontainer">
    <input type="range" min="0" max="100" value="0" class="slider" id="volyymi" />
</div>
<div>
    @ViewBag.AsiakkaidenLkm
    @foreach (MVCdemoprojekti.Models.Customers asiakas in ViewBag.KaikkiAsiakkaat)
    {
            <p>@asiakas.CompanyName</p>
    }
</div>
<!--
    <div onload="init();">

    <canvas id="demoCanvas" width="500" height="300">
    </canvas>
    <script>
        function init() {
            

            var stage = new createjs.Stage("demoCanvas");


            

            var circle = new createjs.Shape();
            circle.graphics.beginFill("Black").drawCircle(0, 0, 50);
            circle.x = 100;
            circle.y = 100;
            stage.addChild(circle);

            stage.update();
        }
    </script>
</div>

-->