################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MVCdemoprojekti/.vs/MVCdemoprojekti/v16
/MVCdemoprojekti/MVCdemoprojekti/obj
